<div class="user-details">
  <h1>My Expertise</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>

    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>

    <i class="devicon-sass-original colored"></i>

    <i class="devicon-figma-plain colored"></i>

    <i class="devicon-latex-original colored"></i>

    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <p>
      Modern design oriented such as<br />
      material ui, high sense of good <br />design and clean interfaces<br />
    </p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-angularjs-plain-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <i class="devicon-handlebars-plain-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-symfony-original-wordmark colored"></i>

    <i class="devicon-laravel-plain-wordmark colored"></i>
    <i class="devicon-postgresql-plain-wordmark colored"></i>
    <i class="devicon-mongodb-plain-wordmark colored"></i>

    <p>
      coding is like a hobby to me,<br />
      in my free time to try new<br />
      technologies and follow new <br />
      courses. In the last two <br />
      years i've learned various <br />
      programming languages by<br />
      reading documentation, online<br />
      courses and building my own projects.
    </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>

    <i class="devicon-wordpress-plain-wordmark colored"></i>
    <i class="devicon-trello-plain-wordmark colored"></i>
    <i class="devicon-npm-original-wordmark colored"></i>
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-bash-plain colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-vscode-plain colored"></i>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-github-original colored"></i>

    <p>
      In the modern era, software<br />
      development have become very <br />
      evolved and quite complicated,<br />
      learning to use modern tools<br />
      like Version control tools<br />
      (such as git), VS CODE, linux <br />
      and bash, made me appreciate <br />
      how much these tools help <br />
      building software.<br />
    </p>
  </div>
</div>
