<footer class="footer">
    <p>&copy; {{site.username}}</p>
<script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=44182fd901055b39440eee6c7f3214d1aad59ab4'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/989909/t/3"></script>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
