<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Weather" src="{{ "/assets/img/Odoodev.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Employees managment</h3>
    <ul>
      <li>Odoo ERP, Odoo development, postgresql, Python, Pycharm, XML</li>
    </ul>
    <p>
      This odoo module was made in my internship in the summer of 2022, the
      experience was a good initiation for the professional life and i've
      learned many skills, and overall good experience. Also the ceo liked my
      ambition and invited me to make the End of study project with them
    </p>
    <a class="project-link" href="https://github.com/Bahaeddinferiani/employees"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Weather" src="{{ "/assets/img/todo.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Todo.tn</h3>
    <ul>
      <li>Symfony, Twig, Docker, Mysql</li>
    </ul>
    <p>
      Tasks managment app built with symfony php framework,implementing users
      login and security, symfony forms and material design
    </p>
    <a class="project-link" href="https://github.com/Bahaeddinferiani/Todo.tn"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/notes.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>Notes</h3>
    <ul>
      <li>Node.js, Yargs,</li>
    </ul>
    <p>
      Built this Terminal app, to learn basic node.js and learn how to
      maniuplate basic node modules, understand documentation.
    </p>
    <a class="project-link" href="https://github.com/Bahaeddinferiani/Notes"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Weather" src="{{ "/assets/img/weather.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Weather.tn</h3>
    <ul>
      <li>
        Weather API, node.js, rest API, MVC architecture, HEROKU deployment
      </li>
    </ul>
    <p>
      making this project was very fun and made me appreciate Web api's, and the
      restful api software development strategy also learned Git (version
      control tool) and its importance for maintaing code and helping in the
      software life cycle.
    </p>
    <a
      class="project-link"
      href="https://github.com/Bahaeddinferiani/Weather.tn"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="taskio" src="{{ "/assets/img/taskiojs.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>Taskio</h3>
    <ul>
      <li>Node.js, postman, JWT, tokens, Bcrypt, Mongodb, DOCKER</li>
    </ul>
    <p>
      so far this is the most complex project i've built, complex projects
      require clean code, best practices like dividing source code into many
      files by role, postman,websites security, nosql databases, deployed using
      docker and i have deployed it in my own pc using my personal network by
      port forwarding.
    </p>
    <a class="project-link" href="https://github.com/Bahaeddinferiani/taskio"
      >Check it out</a
    >
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Weather" src="{{ "/assets/img/Odoodev.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Jobs</h3>
    <ul>
      <li>Odoo ERP, Odoo development, web scraping, Python, Pycharm, XML</li>
    </ul>
    <p>
      This odoo module collects job offers from tunisian website data and pushes
      it in odoo database
    </p>
    <a class="project-link" href="https://github.com/Bahaeddinferiani/Emploi"
      >Check it out</a
    >
  </div>
</div>
